
{% extends "base.html" %}
{% block content %}
    <h1>用户编辑</h1>
    <form method="POST" action="/admin/edit/{{ 用户[0] }}">
        <lable>用户名:</lable>
        <input type="text" name="user_name" value="{{ 用户[1] }} required>
        <br>
        <lable>权限：</lable>
        <select name="role">
            <option value="user" {% if 用户[3] == "user" %}selected{% endif %}>普通用户</option>
            <option value="admin" {% if 用户[3] == "admin" %}selected{% endif %}>超级用户</option>
        </select>
        <br>
        <button type="submit">确定</button>
        <a href="/admin">取消</a>
    </form>
{% endblock %}
