{% extends "base.html" %}

{% block content %}
    <h1>📦 批记录管理系统</h1>
    <ul style="list-style: none; padding: 0; font-size: 18px;">
        <li style="margin: 8px 0;">🔍 <a href="/query">查询批号</a ></li>
        <li style="margin: 8px 0;">✏️ <a href="/new">录入新批记录</a ></li>
        <li style="margin: 8px 0;">📋 <a href="/all">查看所有记录</a ></li>
        <li style="margin: 8px 0;">📊 <a href="/stat">统计合格率</a ></li>
        <li style="margin: 8px 0;">   <a href="/search_by_date">按批号查询</a></li>
        <li style="margin: 8px 0;">   <a href="/user_inf">当前登录账号信息</a></li>
        {% if current_user.role == "admin" %}
            <li><a href="/admin">后台管理</a></li>
        {% endif %}
    </ul>

{% endblock %}

