{% extends "base.html" %}
{% block content %}
    <h1>登录用户信息</h1>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>用户名</th>
                <th>创建时间</th>
                <th>权限</th>
            </tr>
        </thead>
        <tbody>
            {% for i in 当前用户信息 %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[3] }}</td>
                <td>{{ i[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
